.section_main-box3 {
    width: 100%;
    height: 90vh;
    position: relative;
}

@media screen and (max-width: 480px) {
    .section_main-box3 {
        height: 100%;
    }
}

.black_image-box {
    width: 100%;
    height: 90vh;
    position: relative;
    top: -30px;
}

.traffic-2 {
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.section-main-black {
    content: "";
    width: 200%;
    height: 100%;
    position: absolute;
    top: -10%;
    left: -50%;
    transform-origin: center center;
    transform: rotate(7deg);
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

@media screen and (max-width: 480px) {
    .section-main-black {
        height: 100%;
    }
}

.black-tittle {
    width: 100%;
    position: absolute;
    top: -30px;
}

.black-name {
    width: 65%;
    margin: 10px auto;
    font-size: 45px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .black-name {
        font-size: 30px;
    }
}

.black-name::after {
    width: 150px;
    height: 5px;
    display: block;
    margin: 3px auto 0;
    background: #67A5E4;
    content: "";
    border-radius: 10px;
}

@media screen and (max-width: 480px) {
    .black-name::after {
        width: 100px;
        height: 5px;
    }
}

.black_message-box {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 480px) {
    .black_message-box {
        height: 100%;
        position: absolute;
        top: 0px;
        display: flex;
        flex-flow: column;
    }
}

.black_message-box1 {
    width: 50%;
}

@media screen and (max-width: 480px) {
    .black_message-box1 {
        width: 100%;
    }
}

.black-box1 {
    width: 50%;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 480px) {
    .black-box1 {
        width: 40%;
        height: 170px;
        margin: auto;
    }
}

.number1 {
    width: 80px;
    height: 80px;
    margin: 0 0 0 -50px;
    position: absolute;
    top: 0px;
    left: 0px;
}

@media screen and (max-width: 480px) {
    .number1 {
        width: 50px;
        height: 50px;
    }
}

.media {
    width: 300px;
    height: 300px;
    padding: 30px;
}

@media screen and (max-width: 480px) {
    .media {
        position: relative;
        width: 170px;
        height: 170px;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px;
    }
}

.black_message-box2 {
    width: 50%;
    height: 50%;
}

@media screen and (max-width: 480px) {
    .black_message-box2 {
        width: 100%;
        height: 50%;
    }
}

.black-box2 {
    width: 50%;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 480px) {
    .black-box2 {
        width: 40%;
        height: 170px;
        margin: auto;
    }
}

.number2 {
    width: 80px;
    height: 80px;
    margin: 0 0 0 -50px;
    position: absolute;
    top: 0px;
    left: 0;
}

@media screen and (max-width: 480px) {
    .number2 {
        width: 50px;
        height: 50px;
    }
}

.payment {
    width: 300px;
    height: 300px;
    padding: 30px;
}

@media screen and (max-width: 480px) {
    .payment {
        position: relative;
        width: 170px;
        height: 170px;
        left: 50%;
        transform: translateX(-50%);
        padding: 5px;
    }
}

.black-message {
    width: 80%;
    margin: 0 auto 50px;
}

@media screen and (max-width: 480px) {
    .black-message {
        position: relative;
    }
}

.black-message-tittle {
    padding: 0 60px;
    font-size: 28px;
    text-align: left;
    color: #fff;
}

@media screen and (max-width: 480px) {
    .black-message-tittle {
        font-size: 20px;
        margin: 10px 0;
    }
}

.black-message-txt {
    padding: 0 60px;
    font-size: 20px;
    text-align: left;
    color: #fff;
}

@media screen and (max-width: 480px) {
    .black-message-txt {
        font-size: 15px;
    }
}